@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

.home {
    width:100%;
    background-color: #10141f;
}

.container {
    width:1200px;
    margin: 0 auto;
    background-color: #10141f;
}

.finder {
    display: flex;
    justify-content: center;
}

.finder button {
    font-family: 'Barlow', sans-serif;
    background-color: #26304d;
    line-height: 0;
    border-radius: 6px;
    margin-right: 20px;
}

.input {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: #eeeeee;
    font-size:14px;
    width: 200px;
    opacity: 1;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #26304d;
    border-right: 0;
    transition: 0.5s;
    height: 44px;
    border-radius: 6px 0 0 6px;
    margin-left: 20px;
    background: #26304d;
}

.input::placeholder{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: #cccccc;
    font-size:14px;
}

.input:focus, .input:focus + .searchButton {
    opacity:1;
    outline: none;
}

.searchButton {
    padding: 15.5px 0;
    height: 44px;
    border: 1px solid #26304d;
    opacity:1;
    border-left:0;
    border-radius: 0 6px 6px 0!important;
    background-image: url('../img/search.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 40px;
    transition: 0.5s;
}

.searchButton:hover {
    cursor: pointer;
}

.videogames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}



/* DROPDOWN */
/* DROPDOWN */
/* DROPDOWN */

.dropdown_btn, .clear_btn, .sort button {
    color: #eeeeee;
    padding: 16px;
    height: 44px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown_btn {
    background-image: url(../img/dropdown.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 40px;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #26304d;
    min-width: 160px;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    border-radius: 10px;
    top: 50px;
}

.dropdown_content::-webkit-scrollbar, .dropdown_content::-webkit-scrollbar-track {
    background-color: #14192c;
    width: 15px;
    border-radius: 0 10px 10px 0;
}

.dropdown_content::-webkit-scrollbar-thumb {
    background-color: #3e4b6f;
    border-radius: 0 10px 10px 0;
}

.dropdown_content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #1a2032;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown::after {
    content: " ";
    width: 82%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.dropdown_btn:hover, .clear_btn:hover, .sort button:hover {
    background-color: #3e4b6f;
}

/* PAGINATOR */
/* PAGINATOR */
/* PAGINATOR */

.paginator {
        font-family: 'Barlow', sans-serif;
        font-size:20px;
        color: #dedede;
        padding: 20px 0 60px;
        display: flex;
        justify-content: center ;
        align-items: center;
}

.paginator button {
    margin: 0 30px;
    width: 50px;
    height: 24px;
    background: #26304d;
    border-radius: 3px;
    background-image: url('../img/arrow.png');
    background-position: 20px;
    background-repeat: no-repeat;
    background-size: 10px;
    border: 0;
    cursor: pointer;
}

.paginator button:hover {
    background-color: #3e4b6f;
}

.paginator_back {
    transform: rotate(180deg);
}

.spacer {
    margin: 0 30px;
    width: 50px;
    height: 24px;
}

.notFound {
    font-family: 'Barlow', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color:  #eeeeee;
    margin-top: 40px;
    padding-right: 50px;
    height: 150px;
    background-image: url("../img/404.png");
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: 100% 0;
}