@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

.nav {
    width:100%;
    background-color: #10141f;
}

.container {
    background-color: #26304d;
    height: 50px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    position: relative;
    margin: 20px auto;
    width: 400px;
    border-radius: 6px;
}

.home {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 60px;
}

.create {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 90px;
}

.home a, .create a {
    display: inline-block;
    position: absolute;
    
    background-repeat: no-repeat;
    transition: 0.5s;
    height: 30px;
    width: 30px;
    background-size: 14px;
    background-position: 8.5px 8.5px;
    top: 10px;
    opacity: 1;
}

.home a {
    background-image: url(../img/home.png);
}

.create#plus a {
    background-image: url(../img/plus.png);
}

.create#cross a {
    background-image: url(../img/plus.png);
    transform: rotate(45deg);
}

.home a:hover, .create a:hover {
    opacity:0.6;
}

h1 {
    display: inline-block;
    position: absolute;
    top: 14.5px;
    right: 153px;
    font-size: 16px;    
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    color: #eeeeee;
    font-weight: 600;
}